
<div class="eCard" (click)="cardClicked()" [@cardFlip]="data.state">
    <div class="face back">
        <div class="back__container">
            <h4 class="back__header">{{ exercise.name | uppercase }}</h4>
            <p class="back__desc">{{ exercise.description }}</p>
        </div>

    </div>
    <div class="face front">
        <div class="" (click) = "$event.stopPropagation();">
            <div class="selectContainer">
                <h3 class="selHeader">Which workout?</h3>
                <select [(ngModel)]="selectedOption" class="select">
                    <option *ngFor="let o of options" class="option">
                        {{ o.value }}: {{ o.name }}
                    </option>
                </select>
                <button class="addBtn" type="button" (click)="addExercise()">+</button>
            </div>

        </div>
    </div>
</div>
