<div>
  <br />
  <h2 class="workout">{{ workoutArr?.name }}</h2>
  <div class="exercises">
    <app-workout-exercise *ngFor="let exercise of workoutArr.exercises" [exercise]="exercise" [currentWorkout]="workoutArr"></app-workout-exercise>
    <app-workout-exercise *ngFor="let custExercise of workoutArr.customExercises" [custExercise]="custExercise" [currentWorkout]="workoutArr"></app-workout-exercise>
  </div>
  <button type="button" (click)="changeWorkout(true)" class="editBtn">Edit Workout</button>
  <app-editworkout *ngIf="editworkout" (onWorkout)="changeWorkout($event)" [workout]="workoutArr"></app-editworkout>
  <button type="button" (click)="deleteWorkout(workoutArr)" class="deleteBtn">Delete</button>
</div>
