<div>
    <!-- <div *ngFor="let workout of workouts | keyvalue">
      <h3>{{ workout.key }}:{{ workout.value }}</h3>
    </div> -->
    <div *ngFor="let workout of workouts">
      <h3>{{ workout?.name }}</h3>
      <div *ngFor="let exercise of workout.exercises">
        <p>{{ exercise.name }}: {{ exercise.description }}</p>
      </div>
        <br />
        <div *ngFor="let custExercise of workout.customExercises">
          <p>{{ custExercise.name }}: {{ custExercise.description }}</p>
        </div>
        <br />
    </div>
</div>
