<h1>Login</h1>
<div class="loginContainer">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        
        <label for="username">Username</label><br>
        <input type="text" placeholder="Username..." id="username" formControlName="username" required><br>
        <label for="password">Password</label><br>
        <input type="password" placeholder="Password..." id="password" formControlName="password" required><br>
    
        <button type="submit" id="submitbtn">Login</button>
        <button id="registerbtn">Register</button>
    </form>
</div>
