<!-- <div class="nav">
    <nav>
        <div class="nav__header">
            <h1 class="nav__logo">StrictlyPro</h1>
            <ul class="nav__items">
                <li class="nav__li"><a class="nav__a" href="http://localhost:4200/vault">Vault</a></li>
                <li class="nav__li"><a class="nav__a" href="http://localhost:4200/discovery">Discovery</a></li>
                <li class="nav__li"><a class="nav__a" href="http://localhost:4200/leaderboard">Leaderboard</a></li>
                <li class="nav__li"><a class="nav__a" href="http://localhost:4200">Logout</a></li>
            </ul>
        </div>
    </nav>
</div> -->
<nav class="nav">
    <input class="nav__trigger-input" type="checkbox" id="trigger" aria-label="open the navigation"/>
    <label class="nav__trigger-finger" for="trigger">
      <span></span>
    </label>
    <ul class="nav__list">
      <li class="nav__item">
        <a href="http://strictly-pro-client.s3-website-us-east-1.amazonaws.com/vault" class="nav__link">
          <span class="nav__text">
           <!-- Personalize this -->
        Vault
          </span>
        </a>
      </li>
      <li class="nav__item">
        <a href="http://strictly-pro-client.s3-website-us-east-1.amazonaws.com/discovery" class="nav__link">
          <span class="nav__text">
            Discovery
          </span>
        </a>
      </li>
      <li class="nav__item">
        <a href="http://strictly-pro-client.s3-website-us-east-1.amazonaws.com/leaderboard" class="nav__link">
          <span class="nav__text">
            Leaderboard
          </span>
        </a>
      </li>
      <li class="nav__item">
        <a href="http://strictly-pro-client.s3-website-us-east-1.amazonaws.com/" class="nav__link">
          <span class="nav__text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>
