<div>
    <app-nav></app-nav>
    <h1><b>Discovery</b></h1>
        <div *ngIf="isLoaded">
            <br>
            <h3>Hello {{user?.username}}</h3>
            <br>
            <h3>Here are some exercises for you to check out!</h3>
            <div *ngFor = "let exercises of exercises; let i = index">
                <br>
                <h3>{{i+1}}: {{exercises.name}}</h3>
                <p>{{exercises.description}}</p>
            </div>
            <div *ngFor="let custExercise of user?.customExercises; let i = index">
                    <br>
                    <h3>{{i+5}}: {{custExercise?.name}}</h3>
                    <p>{{custExercise?.description}}</p>
            </div>
            <br>
            <button type="button">Click here to add new Excercises</button>
</div>