.addWorkout {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.vaultCard {
  display: flex;
  justify-content: center;
}
.vaultInfo {
  text-align: center;
  padding: 50px;;
  font-size: 5em;
}

.userInfo {
  color: #083D77;
}
