<div>
  <app-nav></app-nav>
  <div class="addWorkout">
    <button type="button" (click)="changeWorkout(true)">Add Workout</button>
    <app-addworkout *ngIf="addWorkout" (onWorkout)="changeWorkout($event)"></app-addworkout>
  </div>
  <div class="vaultCard">
    <div>
      <h1 class="vaultInfo">The Vault</h1>
      <div class="userInfo">
        <h2><b>Username:</b> {{ user?.username }} <b>Your Level:</b> {{ user?.userLevel }} <b>Your Experience:</b> {{ user?.experience }}</h2>
        </div>
    </div>
  </div>
  <app-workout *ngFor="let workout of user?.workouts" [workoutArr]="workout"></app-workout>
</div>
