.headers{
    display:flex;
    flex-direction: row;
    align-items:flext-start;
    justify-content: space-between;
}

.ltable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.ltable thead tr {
    background-color: #083D77;
    color: #ffffff;
    text-align: left;
}

.ltable th,
.ltable td {
    padding: 12px 15px;
}

.ltable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.ltable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.ltable tbody tr:last-of-type {
    border-bottom: 2px solid #083D77;
}

.tableC {
    display: flex;
    justify-content: center;
}

.xpc {
    text-align: center;
}

.ltitle {
    color: #083D77;
    padding: 50px;
}

.titleC {
    display: flex;
    justify-content: center;
    
}