<app-nav></app-nav>
<div class="titleC">
    <h1 class="ltitle">Leaderboard</h1>
</div>
<div class ="titleC">
    <button (click)=byUsername() >Sort by Username</button>
    <button (click)=getUsers()>Sort Normally</button>
</div>

<div class="tableC">
    <table class="ltable">
        <thead>
            <tr>
                <th class="xpc">Username</th>
                <th class="xpc">Level</th>
                <th class="xpc">Experience</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of users">
                <td class="xpc">{{user.username}}</td>
                <td class="xpc">{{user.userLevel}}</td>
                <td class="xpc">{{user.experience}}</td>
            </tr>
        </tbody>

    </table>
</div>
